@{
    ViewData["Title"] = "Home Page";
}
@model Quadrant

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="btn-container" style="max-height:200px;">
                <img src="https://thumbs.dreamstime.com/b/satisfied-successful-man-beard-pointing-fingers-down-paying-attention-advertising-area-showing-freespace-looking-camera-211379302.jpg" class="img-fluid" />
                <h2>Welcome to your very own task list!</h2>
                <div class="btn-container">
                    <a href="#" asp-controller="Home" asp-action="Task" class="btn btn-primary">Add a Task to your list</a>
                </div>
                <div class="btn-container">
                    <a href="#" asp-controller="Home" asp-action="Quadrants" class="btn btn-secondary">View your Time Management Matrix</a>
                </div>
            </div>
        </div>
    </div>
</div>

