@{
    ViewData["Title"] = "Privacy Policy";
}

@model Quadrant



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h2>Add Task</h2>
            <form method="post">
                <input type="hidden" asp-for="Key" />
                <div>
                    <label asp-for="Task">Task:</label>
                    <input asp-for="Task">
                </div>
                <div>
                    <label asp-for="DueDate">Due Date:</label>
                    <input asp-for="DueDate">
                </div>
                <div>
                    <label asp-for="Quadrant1">Quadrant:</label>
                    <select asp-for="Quadrant1">
                        <option value=1>1 (Urgent and Important)</option>
                        <option value=2>2 (Not Urgent and Important)</option>
                        <option value=3>3 (Urgent and Not Important)</option>
                        <option value=4>4 (Not Urgent and Not Important)</option>
                    </select>
                </div>
                <div>
                    <label asp-for="Category">Category:</label>
                    <select asp-for="CategoryId">
                        <option value="">Select a Category</option>
                        @foreach (TaskCategory c in ViewBag.Categories)
                        {
                            <option value="@c.CategoryId">@c.Category</option>
                        }
                    </select>
                </div>
                <div>
                    <label asp-for="Completed">Completed:</label>
                    <select asp-for="Completed">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button type="submit">Submit Task</button>
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
</div>
