@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>
    Add Task
</h2>
<form>
    <div>
        <label>Task:</label>
        <input>
    </div>
    <div>
        <label>Due Date:</label>
        <input>
    </div>
    <div>
        <label>Quadrant:</label>
        <input>
    </div>
    <div>
        <label>Category:</label>
        <select>
            <option value="Home">Home</option>
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Church">Church</option>
        </select>
    </div>
    <div>
        <label>Completed:</label>
        <input>
    </div>
    <div>
        <button>Submit Task</button>
    </div>
</form>